[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "thirdparty/nameof"]
	path = thirdparty/nameof
	url = https://github.com/Neargye/nameof
[submodule "thirdparty/magic_enum"]
	path = thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "thirdparty/Urho3D"]
	path = thirdparty/Urho3D
	url = https://github.com/urho3d/Urho3D
[submodule "thirdparty/GSL"]
	path = thirdparty/GSL
	url = https://github.com/microsoft/GSL
[submodule "thirdparty/smartcar_shield"]
	path = thirdparty/smartcar_shield
	url = https://github.com/platisd/smartcar_shield
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "thirdparty/Boost.DLL"]
	path = thirdparty/Boost.DLL
	url = https://github.com/apolukhin/Boost.DLL
[submodule "thirdparty/Boost.Config"]
	path = thirdparty/Boost.Config
	url = https://github.com/boostorg/config
[submodule "thirdparty/Boost.WinAPI"]
	path = thirdparty/Boost.WinAPI
	url = https://github.com/boostorg/winapi.git
[submodule "thirdparty/Boost.Predef"]
	path = thirdparty/Boost.Predef
	url = https://github.com/boostorg/predef.git
[submodule "thirdparty/Boost.Core"]
	path = thirdparty/Boost.Core
	url = https://github.com/boostorg/core.git
[submodule "thirdparty/Boost.StaticAssert"]
	path = thirdparty/Boost.StaticAssert
	url = https://github.com/boostorg/static_assert.git
[submodule "thirdparty/Boost.TypeTraits"]
	path = thirdparty/Boost.TypeTraits
	url = https://github.com/boostorg/type_traits.git
[submodule "thirdparty/Boost.Assert"]
	path = thirdparty/Boost.Assert
	url = https://github.com/boostorg/assert.git
[submodule "Boost.ThrowException"]
	path = Boost.ThrowException
	url = https://github.com/boostorg/throw_exception.git
[submodule "thirdparty/Boost.ThrowException"]
	path = thirdparty/Boost.ThrowException
	url = https://github.com/boostorg/throw_exception.git
[submodule "thirdparty/Boost.Move"]
	path = thirdparty/Boost.Move
	url = https://github.com/boostorg/move.git
[submodule "thirdparty/Boost.SmartPtr"]
	path = thirdparty/Boost.SmartPtr
	url = https://github.com/boostorg/smart_ptr.git
